---
layout: default
---

<div class="blog">

<h1 class="content-listing-header sans">Blog</h1>

<p><a href="/blog/">Back to main</a> 
    |
<a href="/blog/list/">List of entries</a>
    |
{% include rss_logo %}
</p>

  <div class="post-nav">
    <div>
      {% if page.previous.url %}
      <a href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a>
      {% endif %}
    </div>
    <div class="post-nav-next">
      {% if page.next.url %}
      <a href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a>
      {% endif %}
    </div>
  </div>

  <h2>{{ page.title }}</h2>
<p><span class="smaller">{{ page.date | date: "%B %-d, %Y" }}</span></p>


<div>{{ content }}</div>

<div class="post-nav">
  <div>
    {% if page.previous.url %}
    <a href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a>
    {% endif %}
  </div>
  <div class="post-nav-next">
    {% if page.next.url %}
    <a href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a>
    {% endif %}
  </div>
</div>



<br />

<hr>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{ page.url | replace:'index.html',''}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://yufeizhao.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<!-- <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->

</div>